@media (max-width: 600px) { 
   /* .body{
        display: flex;
        flex-direction:column ;
    }*/
    .infosite{
        text-align: center; 
        margin: 3%;
    }
    .beperking-kop{
        text-align: center;
        margin-bottom: 5%;
        
    }
    .footer-col{
      width: 100%;
  }
  
    .footer-col .social-links a:hover{
      color: #51AFC5;
      background-color: #ffffff;
        padding-top: 0.1rem;
    }

    
    li a:hover, .dropdown:hover .dropbtn {
      background-color: rgba(126, 126, 126, 0.256);
    }
    .footer-col .social-links a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255,255,255,0.2);
      margin:0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #ffffff;
      transition: all 0.3s ease;
        
    }
    .footer-col ul li a:hover{
      color: #ffffff;
      padding-left: 8px;
        color: #51AFC5;
    }
  
      
      li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover, .dropdown:hover .dropbtn {
        background-color: rgba(126, 126, 126, 0.256);
        border-radius: 10px;
      }
      
      li.dropdown {
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
      }
      
      .dropdown-content a:hover {background-color: #f1f1f1;}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      .afb-dropdown{
          width: 10px;
          height: auto;
      }
      .footer {
        background-color: #24262b;
        padding: 70px 0;
        border-radius: 10px;
        margin-top: 75px;
      } 
      .container {
        max-width: 1170px;
        margin: auto;
      }
      .row {
        display: flex;
        flex-wrap: wrap;
      }
      .footer-col {
        width: 100%;
      }
      .footer-col h4 {
        font-size: 23px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
        border: 3px solid #51AFC5;
        border-radius: 7px;
        text-align: center;
      }
      ul {
        list-style: none;
      }

    
}


@media (min-width: 601px) { 
    .infosite{
        text-align: center; 
        margin: 3%;
    }
    .footer-col h4 {
      font-size: 23px;
      color: #ffffff;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
      border: 3px solid #51AFC5;
      border-radius: 7px;
      text-align: center;
  }
  
    ul {
      list-style: none;
    }
    .footer {
      background-color: #24262b;
      padding: 70px 0;
      border-radius: 10px;
      margin-top: 75px;
    }
    .container {
      max-width: 1170px;
      margin: auto;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }


  
    .footer-col .social-links a {
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255,255,255,0.2);
      margin: 0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #ffffff;
      transition: all 0.3s ease;
      border: 1px solid #51AFC5;
  }

      li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover, .dropdown:hover .dropbtn {
        background-color: rgba(126, 126, 126, 0.256);
        border-radius: 10px;
      }
      
      li.dropdown {
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
      }
      
      .dropdown-content a:hover {background-color: #f1f1f1;}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      .afb-dropdown{
        width: 10px;
        height: auto;
    }
    .navbar-links li a:hover {
      display: block;
      text-decoration: none;
      color: #51AFC5;
      padding: 1rem;
      
  }
  .footer-col .social-links a:hover{
    color: #51AFC5;
    background-color: #ffffff;
      padding-top: 0.1rem;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
      color: #51AFC5;
  }
}


@media (min-width: 1001px) { 
    .tekst-beperking{
        margin-top: 3%;
        text-align: center;
        

    }
    .eerstekop{
      background-color: white;
      width: 450px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    }
    .helesec{
      display: grid;
      grid-template-columns: 0.1fr 0.1fr;
      justify-content: center;
      grid-gap: 90px;
      padding: 70px;
    }
    .begin{
      height: 100vh;
      background-image: url(../afbeelidingen/bewustzijn.jpg);
      background-blend-mode: darken;
      background-position: center;
      background-size: cover;
      background-color: rgba(0, 0, 0, 0.765);
      position: relative;
      display: flex;
      place-content: center;
      place-items: center;

    }
    .infobegin{
      background-color: rgba(255, 255, 255, 0.703);
      text-align: center;
      justify-content: center;
      display: flex;
      box-shadow: 0px 0px 20px 10px yellow;
    }
    .navbar-links li a:hover {
      display: block;
      text-decoration: none;
      color: #51AFC5;
      
      
  }
    .container{
      max-width: 1170px;
      margin:auto;
    }
    .row{
      display: flex;
      flex-wrap: wrap;
    }
    ul{
      list-style: none;
    }
    .footer{
      background-color: #24262b;
        padding: 70px 0;
        border-radius: 10px;
        margin-top: 75px;
    }
    .footer-col{
       width: 25%;
       padding: 0 15px;
    }
    .footer-col h4{
      font-size: 23px;
      color: #ffffff;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
        border: 3px solid #51AFC5;
        border-radius: 7px;
        text-align: center;
    }
    .footer-col h4::before{
      content: '';
      position: absolute;
      left:0;
      bottom: -10px;
      background-color: #51AFC5;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
    }
    .footer-col ul li:not(:last-child){
      margin-bottom: 10px;
    }
    .footer-col ul li a{
      font-size: 20px;
      text-transform: capitalize;
      color: #ffffff;
      text-decoration: none;
      font-weight: 300;
      color: #ffffff;
      display: block;
      transition: all 0.5;
    }
    .footer-col ul li a:hover{
      color: #ffffff;
      padding-left: 8px;
        color: #51AFC5;
    }
    .footer-col .social-links a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255,255,255,0.2);
      margin:0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #ffffff;
      transition: all 0.3s ease;
        border: 1px solid #51AFC5;
    }
    .footer-col .social-links a:hover{
      color: #51AFC5;
      background-color: #ffffff;
        
    }
    
    .font-grote{
        font-size: 18px;
    }
    
      
      li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover, .dropdown:hover .dropbtn {
        background-color: rgba(126, 126, 126, 0.256);
        border-radius: 10px;
      }
      
      li.dropdown {
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
      }
      
      .dropdown-content a:hover {background-color: #f1f1f1;}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      .afb-dropdown{
        width: 10px;
        height: auto;
    }
}
