@media (max-width: 600px) { 
   /* .body{
        display: flex;
        flex-direction:column ;
    }*/
    .infosite{
        text-align: center; 
        margin: 3%;
    }
    .beperking-kop{
        text-align: center;
        margin-bottom: 5%;
        
    }
    .titel-beperking{
        color:#51AFC5    
    }

    .info-beperking{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;


    }
    .afb-beperkingen{
        width: 80% ;
        margin-left: 10%;
        border-radius: 8px;
        
    }
    .tekst-beperking{
        
    }
    .btn-beperkingen{
        background-color: #51AFC5;
        color: white;
        border: 1px solid grey;
        border-radius: 12px; 
        margin: 1%;
        padding: 1.5%;
    }

    
}


@media (min-width: 601px) { 
    .infosite{
        text-align: center; 
        margin: 3%;
    }

    .info-beperking{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 5%;
        

    }
    .afb-beperkingen{
        width: 80% ;
        margin-left: 10%;
        border-radius: 8px;
        
    }
    .titel-beperking{
        color:#51AFC5;
        
    }
    .beperking-kop{
        text-align: center;
        margin-bottom: 3%;
    }
    .btn-beperkingen{
        background-color: #51AFC5;
        color: white;
        border: 1px solid grey;
        border-radius: 12px;
        margin: 1%;
        padding: 1.5%;
    }   
}


@media (min-width: 1001px) { 
    .tekst-beperking{
        margin-top: 3%;
        

    }
    .font-grote{
        font-size: 18px;
    }
    
}