* {
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-weight: 309;
    color: #50AEC3;
    font-family: Helvetica;
}

p {
    font-size: 20px;
    text-align: center;
    font-weight: 309;
    color: black;
    font-family: Helvetica;
}

body {
    margin: 0;
    padding: 0;
}

.logo {
    width: 120;
    height: 50px;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1rem;
}

.navbar-links li a:hover {
    display: block;
    text-decoration: none;
    color: #51AFC5;
    padding: 1rem;
    border-bottom: #51AFC5 5px solid;
}

.toggle-button {
    position: absolute;
    top: 1.40rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #51AFC5;
    border-radius: 10px;
}
.about1{
    background-color: rgb(255, 255, 255);
    width: 90%;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    border: 5px solid rgb(244, 195, 61);
    margin-top: 40px;
    
    
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
        background-color: rgba(255, 254, 254, 0.959);
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li {
        text-align: center;
    }
    .navbar-links ul li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
    #dashboard>div {
        background-color: white;
        font-size: 20px;
        font-weight: bold;
    }
    h1 {
        font-size: 50px;
        text-align: center;
        font-weight: 309;
        color: #50AEC3;
        font-family: Helvetica;
    }
    p {
        font-size: 20px;
        text-align: justify;
        font-weight: 309;
        color: black;
        font-family: Helvetica;
        padding: 20px;
    }
}