* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
.logo{
    width: 120;
    height: 50px;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    margin-right: 45%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1rem;
}
.navbar-links li a:hover {
    display: block;
    text-decoration: none;
    color: #51AFC5;
    padding: 1rem;
    border-bottom: #51AFC5 5px solid;
}




.toggle-button {
    position: absolute;
    top: 1.40rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #51AFC5;
    border-radius: 10px;
}
.footer{
    background-color: #51AFC5;
    margin-top: 100%;
}
.bovenfooter{
    margin-left: 5%;
    
    
    
}
.btn-bovenfooter{
    margin-right: 7%;  
    margin-top: 3.5%;
    
}
.onderstefooter{
    margin-left: 50%;
    margin-top: -1%;
    padding-bottom: 3%;
    
   
}
.btn-onderstefooter{
    
    
       
}

























.btnfooter-style{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
        background-color: rgba(255, 254, 254, 0.959);
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    .video1{
        background-color: #51AFC5;
        margin: 25px;
        border-radius: 25px;
    }
    .footer{
        background-color: #51AFC5;
        margin-top: 100%;
    }
    
    .bovenfooter{
        margin-left: 5%;
        
        
    }
    .btn-bovenfooter{
        margin-right: 19%;
        margin-top: 5%;
        
    }
    .onderstefooter{
        margin-left: 17.5%;
        margin-top: 5%;
        padding-bottom: 5%;
       
    }
    .btn-onderstefooter{
       
    }
    .btn-webshop{
        margin-right: 27%;
    }
    .btn-kids{
        margin-right: 20%;
    }
    .btnfooter-style{
        background-color: transparent;
        border: none;
        color: white;
    }

}